body{
    background-color: #335285;
}

h1 {
    text-align: center;
    color: white;
    font-size: 120px;
    filter: drop-shadow(8px 8px 10px darkblue)
}

body {
    margin: 100px auto;
    width: max-content;
}

.fort{
    filter: drop-shadow(8px 8px 10px #7EA2DE);
    display: inline-block;
    filter:blur(20%);
    color: white;
    display: inline-block;
    font-size: 25px;
    text-align: center;
}

.morning{
    filter: drop-shadow(8px 8px 10px #7EA2DE);
    display: inline-block;
    filter:blur(20%);
    color: white;
    font-size: 25px;
    text-align: center;
}



.sunset{
    filter: drop-shadow(8px 8px 10px #7EA2DE);
    display: inline-block;
    filter:blur(20%);   
    color: white;
    font-size: 25px;
    text-align: center;
}

